*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.counter-container{
margin-top: 13%;
margin-left: 17%;
display: inline-block;
text-align: center;
justify-content: center;  
}
body{
    background-color:black;
}
.fas{
    margin-left: 20px;
   padding-bottom: 20%;
   color:plum;
   text-align: center;
}
.counter{
    color: yellow;
    font-size: 4rem;
    text-align: center;
}
span{
    color: plum;
    font-size: 1rem;
    text-align: center;
}